@media print {
    body {
        padding: 0 !important;
        gap: 0 !important;
    }
    .report {
        gap: 0 !important;
    }
    .root {
        background: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        /* page-break-after: always; */
        page-break-inside: avoid;
    }
    .page {
        border-radius: 0 !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 16px;
    min-width: 8.27in;
    padding: 16px;
}

.report {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.root {
    background: #eee;
    border-radius: 8px;
    box-shadow: 0 4px 8px 2px #0006;
    overflow: hidden;
}

.page {
    border-radius: 8px;
    overflow: hidden;
}

.header,
.footer,
.record,
.static,
.bottom,
.ending {
    align-content: center;
    display: block;
    height: .5in;
    text-align: center;
}